{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

	<!-- About US -->
	<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<div class="section-heading">
						<h1>About Us</h1>
					</div>
					<p>Deserve Foundation was founded in January 2016 by Chantal Openda after the birth of her son who has congenital hydrocephalus. The distress and frustration she went through looking for treatment shed light to some of the challenges other people alike are going through.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-5">
					<div class="help-btn-cont">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
						<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
						<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-benefit">Beneficiary</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "modal.html" %}

	<!-- Team -->
	<section class="team">
		<div class="container">
			<div class="section-heading">
				<h1>The Team</h1>
			</div>
			<div class="row space-row">
				<div class="col-xs-0 col-sm-3">
					<img src="{% static 'images/chantal3.jpg' %}" alt="chantal">
					<ul>
						<li><a href="https://www.linkedin.com/in/chantalopenda" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/chantalopenda" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="founder-info">
						<h3>Chantal Openda, <span class="roles">Founder, Strategy and Partnerships</span></h3>
						<p>“What I went through with my son, Taiden, who has congenital hydrocephalus is not anything I would wish on anyone. The financial burden and emotional distress was too much to bear. My family was the only support system we had, I honestly don’t believe we would have made it without them, which is why I founded Deserve. Through Deserve, I want to be family to others alike. I want to be a voice of HOPE to them because there is HOPE”</p>

						<p>Chantal is an experienced Business Developer, Marketer, and Growth professional. She has over 6 years of experience, developing B2B and B2C sales and marketing strategies, high level account management, budget management, people management, and growth analysis. She has a successful career working with local companies, multinational enterprises, and the Kenyan Government.</p>

						<p>Aside from her passion for children, Chantal is an advocator for gender equality and is keen on empowering the african girl. She is also a nature lover who has been involved in a couple of environmental programmes including the  Build a Boma - save big cats campaign by National Geographic.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<img src="{% static 'images/rosalia20.jpg' %}" alt="rosalia">
					<ul>
						<li><a href="https://www.linkedin.com/in/rosalialorenzen/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-7">
					<div class="founder-info">
						<h3>Rosalia Lorenzen, <span class="roles">Co-Founder, Operations and Funding</span></h3>
						<p>Rosalia is a highly motivated and driven Finance and Operations Director with over eight years’ experience in developing and managing financial systems, implementing sound internal controls, budgeting, financial accounting, tax compliance, risk mitigation, preparation of financial and management reports, oversight of internal and external audits, business development, human resource management, petty cash management, cash flow management, and managing day to day office operations.						<p>She takes pride in working with and in organizations that focused on community development which aim at bringing change to our society.</p>

						<p>RShe takes pride in working with organizations that are focused on community development and positive societal change. At Deserve, Rosalia oversees funding, operations and human resource management.
						Rosalia has an MBA in Finance from U.S. International University. She is also a CPA-K and holds a First class Honors Degree in Finance and Accounting. She also has experience working in culturally diverse countries some of which include, Tanzania, Mozambique, Nigeria, Cameroon, Senegal, and DR Congo. </p>
					</div>
				</div>
			</div>
		</div>
	</section>

		{% endblock content %}
