{% extends "base.html" %}
{% include "modal.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

		<!-- Contacts -->
		<section class="contacts">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<div class="section-heading">
							<h1>Here's how you can get in touch with us</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<ul>
							<li><h3>Contacts</h3></li>
							<li><p>+25470142424228</p></li>
							<li><p>info@deservefoundation.org</p></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><h3>Follow Us</h3></li>
							<li><p><a href="https://www.facebook.com/deservefoundation">Facebook</a></p></li>
							<li><p><a href="https://www.linkedin.com/company-beta/17961422/?pathWildcard=17961422">LinkedIn</a></p></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><h3>Address</h3></li>
							<li><p>Nairobi, Kenya</p></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-md-5">
						<div class="help-btn-cont">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-benefit">Beneficiary</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include "modal.html" %}

		<!-- Message -->
		<section class="message">
         	<div class="container">
            	<div class="contacts-box">
              		<div class="row">
                		<div class="col-sm-8">
                			<div class="section-heading">
                  				<h1>Send us a message</h1>
                  			</div>
                  			<form name="sentMessage" action="/dsdash/contactus/" role="form" method="post">
								{% csrf_token %}
                    			<div class="form-group">
                      				<label for="name">Names</label>
                      				<input name="name" type="text" class="form-control" required>
                    			</div>
								<div class="form-group">
                      				<label for="phone">Phone</label>
                      				<input name="phone" type="tel" class="form-control" required>
                    			</div>
			                    <div class="form-group">
			                      <label for="email">Email:</label>
			                      <input name="email" type="email" class="form-control" required>
			                    </div>
			                    <div class="form-group">
                      				<label for="message">Message</label>
                      				<textarea name="message" type="text" class="form-control" rows="3" required></textarea>
                    			</div>
                    			<button type="submit" class="btn btn-lg btn-default">Send</button>
                  			</form>
                		</div>
            		</div>   
            	</div>	
        	</div>
        </section>
{% endblock content %}