{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

		<!-- Contacts -->
		<section class="contacts">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<div class="section-heading">
							<h1>Here's how you can get in touch with us</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<ul>
							<li><h3>Contacts</h3></li>
							<li><p>+25470142424228</p></li>
							<li><p>info@deservefoundation.org</p></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><h3>Follow Us</h3></li>
							<li><p><a href="https://www.facebook.com/deservefoundation">Facebook</a></p></li>
							<li><p><a href="https://www.linkedin.com/company-beta/17961422/?pathWildcard=17961422">LinkedIn</a></p></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul>
							<li><h3>Address</h3></li>
							<li><p>Nairobi, Kenya</p></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-md-5">
						<div class="help-btn-cont">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-benefit">Beneficiary</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--Modal Volunteer -->
			<div class="modal fade" id="modal-volunteer" role="dialog">
			    <div class="modal-dialog">
			      <!-- Modal content-->
			    	<div class="modal-content">
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal">&times;</button>
				          	<h4 class="modal-title">Become a Volunteer</h4>
				        </div>
				        <div class="modal-body">
				        	<p>To become a volunteer kindly fill the form below and we will get in touch with you.</p>
		                  	<form action="">
					            <div class="form-group">
					                <label for="email">Names</label>
					                <input type="text" class="form-control">
					            </div>
								<div class="form-group">
								    <label for="email">Email:</label>
								    <input type="email" class="form-control">
								</div>
								<div class="form-group">
								    <label for="tel">Phone Number:</label>
									<input type="tel" class="form-control">
								</div>
								<div class="form-group">
					                <label for="message">Why do you want to volunteer at Deserve?</label>
					                <textarea type="text" class="form-control" rows="3"></textarea>
					            </div>
					            <button type="submit" class="btn btn-lg btn-default">Send</button>
				            </form>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
			      	</div> 
			    </div>
			</div>

		  	<!--Modal Benefit-->
			  <div class="modal fade" id="modal-benefit" role="dialog">
			    <div class="modal-dialog">
			      <!-- Modal content-->
			    	<div class="modal-content">
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal">&times;</button>
				          	<h4 class="modal-title">Become a Beneficiary</h4>
				        </div>
				        <div class="modal-body">
				        	<p>To become a beneficiary kindly fill the form below and we will get in touch with you.</p>
		                  	<form action="">
					            <div class="form-group">
					                <label for="email">Names</label>
					                <input type="text" class="form-control">
					            </div>
								<div class="form-group">
								    <label for="email">Email:</label>
								    <input type="email" class="form-control">
								</div>
								<div class="form-group">
								    <label for="tel">Phone Number:</label>
									<input type="tel" class="form-control">
								</div>
								<div class="form-group">
					                <label for="message">Tell us your story:</label>
					                <textarea type="text" class="form-control" rows="3"></textarea>
					            </div>
					            <button type="submit" class="btn btn-lg btn-default">Send</button>
				            </form>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
			      	</div> 
			    </div>
			</div>

		<!-- Message -->
		<section class="message">
         	<div class="container">
            	<div class="contacts-box">
              		<div class="row">
                		<div class="col-sm-8">
                			<div class="section-heading">
                  				<h1>Send us a message</h1>
                  			</div>
                  			<form action="">
                    			<div class="form-group">
                      				<label for="email">Names</label>
                      				<input type="text" class="form-control">
                    			</div>
			                    <div class="form-group">
			                      <label for="email">Email:</label>
			                      <input type="email" class="form-control">
			                    </div>
			                    <div class="form-group">
                      				<label for="message">Message</label>
                      				<textarea type="text" class="form-control" rows="3"></textarea>
                    			</div>
                    			<button type="submit" class="btn btn-lg btn-default">Send</button>
                  			</form>
                		</div>
            		</div>   
            	</div>	
        	</div>
        </section>
{% endblock content %}