		{% extends "base.html" %}
		{% load cms_tags %}
		{% load staticfiles %}
		{% block title %}{% page_attribute "page_title" %}{% endblock title %}

		{% block content %}

		<!-- Jumbotron -->
		<section class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="jumbo-heading">
							<h1>Donate & Help</h1>
						</div>	
						<div class="text">
							<p>Deserve Foundation is a movement of people from Kenya who believe that people born with congenital disorders 
							<span class="highlight">DESERVE A RIGHT TO LIFE.</span></p>
						</div>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
						<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
						<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-benefit">Beneficiary</button>
					</div>
				</div>
			</div>
		</section>

		{% include "modal.html" %}

		<!-- The Problem -->
		<section class="problem">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="section-heading">
							<h1>The Problem</h1>
						</div>	
						<div class="problem-text">
							<p>There is little to no effort locally and across Africa to educate the public about congenital disorders. As a result, some families and individuals fall short to stereotypes and beliefs about some of these conditions. CURE Hospital Uganda, a donor funded hospital in Uganda who specialize in neurosurgery and specifically hydrocephalus and spina bifida have some really shocking findings. In some villages in Uganda, families KILL their own children! Children who are born with Hydrocephalus and Spina Bifida are usually considered cursed or affected by witchcraft. There are cases where these children are left to die locked up in houses, eventually they succumb to the effects of non treatment. These kids are secretly buried and forgotten about. In extreme cases, the women accompanied by their kin drown the kids in nearby rivers.</p>
						</div>
						
						<div class="body-btn">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
							<button class="help-btn btn btn-lg btn-default" data-toggle="modal" data-target="#modal-benefit">Beneficiary</button>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
							<img src="{% static 'images/uganda5.jpg' %}" alt="Image">
						</div>
					
				</div>
			</div>
		</section>

		<!-- Our Plan -->
		<section class="plan">
			<div class="container">
				<div class="row">
					<div class="section-heading">
						<h1>Our Plan</h1>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-3">
						<div class="plan-box">
							<div class="plan-text">
								<div class="plan-headline">
									<h3>Creating awareness</h3>
								</div>
								<div class="plan-text-info">
									<p>Knowledge is power. By making access to information readily available we will be able to educate the public on the causes, treatments plans, where to access treatment, expectations to prepare them psychologically for any future challenges and much more.</p>
								</div>
							</div>
							
						</div>
						
					</div>

					<div class="col-xs-6 col-sm-6 col-md-3">
						<div class="plan-box">
							<div class="plan-text">
								<div class="plan-headline">
									<h3>Lobbying</h3>
								</div>
								<div class="plan-text-info">
									<p>Through creating awareness we will be able to lobby for government support for certain change.e.g insurance policies to be more lenient on covering congenital conditions and treatment.</p>
								</div>
							</div>
						</div>
					</div>

					<div class=" col-xs-6 col-sm-6 col-md-3">
						<div class="plan-box">
							<div class="plan-text">
								<div class="plan-headline">
									<h3>Sponsoring Treatment</h3>
								</div>
								<div class="plan-text-info">
									<p>Most if not all insurance companies DO NOT cover congenital conditions. Treatment which are mostly surgical are very expensive to self finance even for those who can afford it. Deserve Foundation will sponsor a number(ref. section) of children.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-3">
						<div class="plan-box">
							<div class="plan-text">
								<div class="plan-headline">
									<h3>Fostering Support Groups</h3>
								</div>
								<div class="plan-text-info">
									<p>Anyone who has gone through a similar scenario or at the least had a loved one battling a disease knows the emotional weight this comes along with. These frustrations if not counselled lead to negative mental effects.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>

		<!-- How to help -->
		<section class="help">
			<div class="container">
				<div class="row">
					<div class="section-heading">
						<h1>Here's how you can help</h1>
					</div>

					<div class="col-sm-4">
						<div class="help-card">
							<div class="headline">
								<h3>Make a Donation</h3>
							</div>
							<div class="text">
								<p>We commit to use your contribution to make a difference in the lives children and families who need it most.</p>
							</div>
							<div class="body-btn">
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="WEYK7XKRK2ZLG">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="help-card">
							<div class="headline">
								<h3>Become a Volunteer</h3>
							</div>
							<div class="text">
								<p>We depend on volunteers from the public to accomplish this huge mission we have set out to do.</p>
							</div>
							<div class="body-btn">
								<button class="help-btn btn btn-lg btn-default"data-toggle="modal" data-target="#modal-volunteer">Volunteer</button>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="help-card">
							<div class="headline">
								<h3>Become a Beneficiary</h3>
							</div>
							<div class="text">
								<p>The Deserve Beneficiary program is for people with children affected by congenital disorders. Find out how you benefit</p>
							</div>
							<div class="body-btn">
								<button class="help-btn btn btn-lg btn-default"data-toggle="modal" data-target="#modal-volunteer">Beneficiary</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		{% endblock content %}